@import "fonts.css";

:root {
  --white: #ffffff;
  --black:#161920;

  --initial-and-game-bg: #FEF5CC;
  --config-bg: #02C4AC;
  
  /*Guardar config, nou joc*/
  --action-button-bg:#1747E7;
  --action-buttton-bg-hover:#1239b9;
  
  /*Restart button*/
  --restart-button-type-color:#1747E7;
  --restart-button-bg:rgba(209,213,219,0.5);
  --restart-button-bg-hover:rgba(209,213,219,1);

  /*Stats*/
  --game-stats-bg:#FDBE11;
  --time-type-color:#1747E7;
  --time-box-border:#FDBE11;

  /*Good Ending*/
  --ge-bg:#d1dafa;
  --ge-h1:#F75A2D; 

  /*Bad Ending*/
  --be-bg:#fa9c81;
  --be-h1:#1747E7;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}